HOST=localhost
PORT=3005
DB_USERNAME=tracker
DB_PASSWORD=tracker
DB_DATABASE=tracker
DATABASE_URL="postgresql://postgres:root@localhost:5432/task-tracker"
JWT_SECRET=jwt-secretjwt-secretjwt-secretjwt-secretjwt-secretjwt-secretjwt-secretjwt-secretjwt-secret
JWT_EXPIRES_IN=1d
NODE_ENV=development
CORS_ALLOWED_ORIGINS=http://localhost:3000