DB_USERNAME=admin
DB_PASSWORD=p@ssword123
DB_DATABASE=task_tracker

DB_PORT=6000

# Строка подключения для NestJS (через сервис 'database')
# ВАЖНО: Внутри сети Docker используем порт 5432 и имя сервиса 'database'
# DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@database:5432/${DB_DATABASE}

# Если во вне работаете с образами базы данных
DATABASE_URL=postgres://${DB_USERNAME}:${DB_PASSWORD}@localhost:6000/${DB_DATABASE}

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_EXTERNAL_PORT=6380

PORT=3000
NODE_ENV=development
